@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

.main {
  background-color: #F5F7FB;
  height: 550px;
  width: 550px;
  margin: auto;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-top__img {
  margin-left: auto;
}

.main-bottom__img {
  margin-right: auto;
}

.start-screen {
  color: #293264;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.start-screen__title {
  font-weight: bold;
  font-size: 31px;
}

.start-screen__description {
  font-size: 16px;
}

.start-screen__button {
  font-weight: 500;
  font-size: 16px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  padding: 15px 55px;
  cursor: pointer;
}

.start-screen__button:hover {
  opacity: .8;
}